[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cocotb = "*"
galois = "*"
pytest = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"

[requires]
python_version = "3.8"

[scripts]
test = "env CLOCK_HZ=1 SIM_CLOCK_HZ=1 make -C ./src clean sim"
test_full = "make -C ./src clean sim"
test_slow = "env SIM_CLOCK_HZ=969 make -C ./src clean sim"
test_uart = "make -C ./src -f Makefile_uart clean sim"
test_uart_loopback = "make -C ./src -f Makefile_uart clean sim TESTCASE=test_loopback"
test_ram = "make -C ./src -f Makefile_ram clean sim"
test_ram_full = "env WORDS=65536 WORD_WIDTH=16 make -C ./src -f Makefile_ram clean sim"
test_alu = "make -C ./src -f Makefile_extend_alu clean sim"
